---
import { getEntry } from "astro:content"
import SectionContent from "../../components/SectionContent.astro"
import { compileAndSplitChapters } from "../../lib/content"
import SvgFlowerBlumeGesteck from "../../components/svg/SvgFlowerBlumeGesteck.astro"

const document = await getEntry("services", "6-pointers")
const [excerpt, ...chapters] = await compileAndSplitChapters(document.body)
---

<section>
  <SectionContent fluffy={true} class="text-center text-emerald">
    <div
      class="mx-auto grid max-w-prose grid-cols-1 justify-center gap-32 text-center lg:max-w-none lg:grid-cols-2 lg:text-left"
    >
      <div
        class="top-20 col-start-1 grid gap-8 self-start lg:sticky lg:grid-rows-[repeat(3,auto)]"
      >
        <h2 class="leading-[1.1]" set:html={document.data.title} />
        {excerpt}
        <SvgFlowerBlumeGesteck
          class="h-[min(25rem,50vh)] place-self-center fill-current max-lg:hidden"
        />
      </div>

      <div class="lg:col-start-2">
        <ol class="flex list-inside list-decimal flex-col gap-24">
          {
            chapters.map(([title, ...chapter]) => (
              <li class="marker:playfair marker:font-bold marker:text-sunset">
                <span
                  class="playfair font-bold text-sunset"
                  set:html={title.textContent}
                />
                <br />
                <div class="mt-4 max-w-prose pl-12">{chapter}</div>
              </li>
            ))
          }
        </ol>
      </div>
    </div>
  </SectionContent>
</section>
