---
import { db, Galleries, eq } from "astro:db"
import { v4 as uuid } from "uuid"
import bcrypt from "bcrypt"
import { getSession, updateSession, createSession } from "../../../db/services"
import { getToken } from "../../lib/graph-client"

export const prerender = false

const gallery = Astro.url.searchParams.get("gallery")
const error = Astro.url.searchParams.get("error")

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData()
  console.log("posted", formData)
  const pw = formData.get("password")?.toString()
  const galleryId = formData.get("gallery")?.toString()

  if (!galleryId || !pw) {
    return new Response(null, {
      status: 400,
      statusText: "form incomplete",
    })
  }

  // check password
  const gallery = await db
    .select()
    .from(Galleries)
    .where(eq(Galleries.id, galleryId))

  if (!gallery[0]) {
    console.warn("Unbekannte Gallerie")
    return Astro.redirect(
      `/galleries/login?gallery=${galleryId}&error=Falsches Passwort`,
    )
  }

  if (!bcrypt.compareSync(pw, gallery[0]?.password)) {
    return Astro.redirect(
      `/galleries/login?gallery=${galleryId}&error=Falsches Passwort`,
    )
  }

  // get token
  const [token, expiresIn] = await getToken()

  const sessionId = Astro.cookies.get("ironleaves_session")?.value ?? uuid()
  const session = await getSession(sessionId)
  if (!session) {
    await createSession({
      id: sessionId,
      galleries: [galleryId],
      expires: expiresIn,
      token,
    })
  } else {
    const newGalleries = new Set(session.galleries).add(galleryId)
    await updateSession({ galleries: [...newGalleries] }, sessionId)
  }

  Astro.cookies.set("ironleaves_session", sessionId)

  return Astro.redirect(`/galleries/${galleryId}`)
}
---

<h1>{gallery} Login</h1>
<form method="post">
  <label>
    Passwort:
    <input type="password" name="password" />
    <input type="hidden" name="gallery" value={gallery} />
  </label>
  {error && <div>Fehler: {error}</div>}
</form>
