---
import { storyblokEditable, renderRichText } from "@storyblok/astro"
import IlStory from "../components/IlStory.astro"
import SvgSingleBranch from "../components/svg/SvgSingleBranch.astro"
import SectionHeader from "../components/SectionHeader.astro"
import IconBase from "../components/svg/IconBase"
import IconArrow from "../components/svg/IconArrow"
import LayoutSpacer from "../components/LayoutSpacer.astro"
import IlTestimonial from "../components/IlTestimonial.astro"
import BlogStories from "../components/BlogStories.astro"
import ButtonEffect from "../components/ButtonEffect.astro"
import Contact from "../sections/home/Contact.astro"
import { useLatestStories, type SBStory } from "../lib/blog"

type Props = {
  id: string
  blok: SBStory["content"]
}

const { id, blok } = Astro.props

const { teaser, chapters, slides, title, image, testimonial } = blok

const newestStories = await useLatestStories(id)
// console.log(`rendering ${id}`, { testimonial })
// console.log({ newestStories })
---

<section class="text-bluegray" {...storyblokEditable(blok)}>
  <IlStory slides={slides?.map((slide) => slide.filename)} chapters={chapters}>
    <div
      slot="image"
      class="relative w-[95%] flex-initial self-start lg:w-1/2 lg:self-center"
    >
      <img
        class="w-7/8 border-8 border-solid border-white drop-shadow"
        src={image?.filename}
      />
      <SvgSingleBranch
        class="absolute bottom-0 right-0 w-1/4 -translate-x-1 translate-y-4 fill-current text-emerald"
      />
    </div>

    <SectionHeader slot="title">
      <span slot="roofline">Stories</span>
      {title}
    </SectionHeader>

    <div
      class="flex max-w-prose flex-col items-center gap-4 text-center lg:items-start lg:text-left"
      slot="content"
    >
      <Fragment set:html={renderRichText(teaser)} />
    </div>
  </IlStory>

  {testimonial?.length && <IlTestimonial testimonial={testimonial[0]} />}

  <IconBase className="mt-8 h-16 w-full text-sunset">
    <IconArrow />
  </IconBase>

  <LayoutSpacer />

  <BlogStories stories={newestStories}>
    <div slot="tail">
      <LayoutSpacer />

      <a href="/stories">
        <ButtonEffect class="mx-auto w-[fit-content] text-sunset">
          Hier gibt's alle Beiträge
        </ButtonEffect>
      </a>

      <LayoutSpacer ms={4} />

      <IconBase
        className="absolute bottom-0 -mb-10 mt-8 h-16 w-full text-sunset"
      >
        <IconArrow />
      </IconBase>
    </div>
  </BlogStories>

  <Contact class="mt-20" />
</section>
