---
import IlStory from "../../components/IlStory.astro";
import Layout from "../../layouts/Layout.astro";
import SectionHeader from "../../components/SectionHeader.astro";
import SvgSingleBranch from "../../components/svg/SvgSingleBranch.astro";
import { fetchStories, labels, Story } from "../../lib/blog";
import IlTestimonial from "../../components/IlTestimonial.astro";
import IconBase from "../../components/svg/IconBase.astro";
import IconArrow from "../../components/svg/IconArrow.astro";
import LayoutSpacer from "../../components/LayoutSpacer.astro";
import Contact from "../../sections/home/Contact.astro";
import BlogStories from "../../components/BlogStories.astro";
import ButtonEffect from "../../components/ButtonEffect.astro";

export async function getStaticPaths() {
  const stories = await fetchStories();
  return stories.map((story) => ({
    params: {
      slug: story.slug,
    },
    props: {
      story,
    },
  }));
}

type Props = {
  story: Story;
};

const { story } = Astro.props;
const newestStories = (await fetchStories())
  .filter((s) => s.slug !== story.slug)
  .slice(0, 2);
---

<Layout>
  <section class="text-bluegray">
    <IlStory slides={story.slides} chapters={story.chapters}>
      <div
        slot="image"
        class="relative w-[95%] lg:w-1/2 self-start lg:self-center flex-initial"
      >
        <img
          class="w-7/8 border-8 border-solid border-white drop-shadow"
          src={story.imgSrc}
          alt={story.imgAlt}
        />
        <SvgSingleBranch
          class="w-1/4 text-emerald fill-current absolute right-0 bottom-0 -translate-x-1 translate-y-4"
        />
      </div>

      <SectionHeader slot="title">
        <span slot="roofline">{labels[story.tag]}</span>
        {story.title}
      </SectionHeader>

      <div
        class="flex flex-col gap-4 items-center lg:items-start text-center lg:text-left max-w-prose"
        slot="content"
      >
        {story.excerpt}
      </div>
    </IlStory>

    {story.testimonial && <IlTestimonial testimonial={story.testimonial} />}

    <IconBase class="text-sunset w-full h-16 mt-8">
      <IconArrow />
    </IconBase>

    <LayoutSpacer />

    <SectionHeader class="mx-auto text-center">
      <span slot="roofline">Stories</span>
      Neueste Beiträge
    </SectionHeader>

    <LayoutSpacer />

    <BlogStories stories={newestStories}>
      <div slot="tail">
        <LayoutSpacer />

        <a href="/stories">
          <ButtonEffect class="text-sunset w-[fit-content] mx-auto">
            Hier gibt's alle Beiträge
          </ButtonEffect>
        </a>

        <LayoutSpacer ms={4} />

        <IconBase class="text-sunset w-full h-16 mt-8 absolute bottom-0 -mb-10">
          <IconArrow />
        </IconBase>
      </div>
    </BlogStories>

    <Contact class="mt-20" />
  </section>
</Layout>
