---
import { ISbRichtext, renderRichText } from "@storyblok/astro"
import { labels } from "../lib/blog"
import ButtonEffect from "./ButtonEffect.astro"
import SectionContent from "./SectionContent.astro"

type Props = {
  class?: string
  stories: {
    slug: string
    content: {
      tag: string
      image: {
        filename: string
        alt: string
      }
      title: string
      teaser: ISbRichtext
    }
  }[]
}

const { class: classes, stories } = Astro.props
---

<div class:list={["bg-dust relative", classes]}>
  <SectionContent>
    <div
      class="relative grid grid-cols-1 md:grid-cols-2 md:auto-rows-[1fr] place-content-center gap-12"
      data-stories-parent
    >
      {
        stories.map((story) => {
          return (
            <a
              data-tag={story.content.tag}
              class="flex flex-col justify-center gap-6 bg-white text-center px-8 pt-4 pb-8 drop-shadow cursor-pointer"
              href={`/stories/${story.slug}`}
            >
              <div class="text-sunset uppercase -mb-2">
                {labels[story.content.tag]}
              </div>
              <img
                src={story.content.image.filename}
                alt={story.content.image.alt}
              />
              <h2 class="font-bold">{story.content.title}</h2>
              <div
                class="grow"
                set:html={renderRichText(story.content.teaser)}
              />
              <div class="text-sunset mx-auto">
                <ButtonEffect>Hier geht's zur Story</ButtonEffect>
              </div>
            </a>
          )
        })
      }
      <slot />
    </div>
  </SectionContent>

  <slot name="tail" />
</div>
