---
import { renderRichText } from "@storyblok/astro"
import { labels, type SBStory } from "../lib/blog"
import ButtonEffect from "./ButtonEffect.astro"
import SectionContent from "./SectionContent.astro"

type Props = {
  class?: string
  stories: SBStory[]
}

const { class: classes, stories } = Astro.props
---

<div class:list={["relative bg-dust", classes]}>
  <SectionContent>
    <div
      class="relative grid grid-cols-1 place-content-center gap-12 md:auto-rows-[1fr] md:grid-cols-2"
      data-stories-parent
    >
      {
        stories.map((story) => {
          return (
            <a
              data-tag={story.content.tag}
              class="flex cursor-pointer flex-col justify-center gap-6 bg-white px-8 pb-8 pt-4 text-center drop-shadow"
              href={`/stories/${story.slug}`}
            >
              <div class="-mb-2 uppercase text-sunset">
                {labels[story.content.tag]}
              </div>
              <img
                src={story.content.image?.filename}
                alt={story.content.image?.alt}
              />
              <h2 class="font-bold">{story.content.title}</h2>
              <div
                class="grow"
                set:html={renderRichText(story.content.teaser)}
              />
              <div class="mx-auto text-sunset">
                <ButtonEffect>Hier geht's zur Story</ButtonEffect>
              </div>
            </a>
          )
        })
      }
      <slot />
    </div>
  </SectionContent>

  <slot name="tail" />
</div>
