---
import IlSliderArrow from "./IlSliderArrow.astro"

type Props = {
  id: string
  class?: string
  slides: string[]
}

const { class: classes, slides, id } = Astro.props
---

<div id={id} class="h-full relative">
  <swiper-container
    class:list={["overflow-x-hidden w-full", classes]}
    autoplay-delay="5000"
    loop="true"
    loop-additional-slides="5"
    space-between="2"
    slides-per-view="auto"
    centered-slides="true"
    slide-to-clicked-slide="true"
    navigation="true"
    navigation-prev-el={`#${id}-slide-prev`}
    navigation-next-el={`#${id}-slide-next`}
  >
    {
      slides.map((url) => (
        <swiper-slide class="!w-auto flex items-center max-w-[90%]">
          <img class="object-cover h-full" src={url} />
        </swiper-slide>
      ))
    }
  </swiper-container>
  <IlSliderArrow id={`${id}-slide-prev`} side="left" />
  <IlSliderArrow id={`${id}-slide-next`} side="right" />
</div>

<script>
  import { register } from "swiper/element/bundle"
  register()
</script>
