---
import IlSliderArrow from "./IlSliderArrow.astro"

type Props = {
  id: string
  class?: string
  slides: string[]
}

const { class: classes, slides, id } = Astro.props
---

<div id={id} class="relative h-full pb-8">
  <swiper-container
    class:list={["w-full overflow-x-hidden", classes]}
    autoplay-delay="5000"
    loop="true"
    loop-additional-slides="5"
    space-between="2"
    slides-per-view="auto"
    centered-slides="true"
    slide-to-clicked-slide="true"
    navigation="true"
    navigation-prev-el={`#${id}-slide-prev`}
    navigation-next-el={`#${id}-slide-next`}
  >
    {
      slides.map((url) => (
        <swiper-slide class="flex !w-auto max-w-[90%] items-center">
          <img class="h-full object-cover" src={url} />
        </swiper-slide>
      ))
    }
  </swiper-container>
  <IlSliderArrow id={`${id}-slide-prev`} side="left" />
  <IlSliderArrow id={`${id}-slide-next`} side="right" />
</div>

<script>
  import { register } from "swiper/element/bundle"
  register()
  // const slider = document.querySelector('[data-swiper]')
  // console.log(slider.isEnd)
</script>
