---
import { renderRichText } from "@storyblok/astro"
import LayoutSpacer from "./LayoutSpacer.astro"
import SectionContent from "./SectionContent.astro"
import type { SBTestimonial } from "../lib/blog"

type Props = {
  testimonial: SBTestimonial
}

const { testimonial } = Astro.props
---

<div
  class="grid grid-cols-1 grid-rows-[auto,auto] lg:grid-cols-2 lg:grid-rows-1"
>
  <img
    class="h-full w-full object-cover lg:order-2"
    src={testimonial.image?.filename}
    alt={testimonial.image?.alt}
  />
  <SectionContent
    class="flex w-full flex-col justify-center bg-emerald text-white lg:order-1"
    fluid={true}
  >
    <h3 class="caption font-normal">Kundenstimme</h3>
    <LayoutSpacer />
    <div class="relative flex flex-nowrap justify-self-center">
      <div class="relative -ml-4 self-end pr-4 sm:ml-0 sm:pr-6">
        <div
          class="caption relative top-[-4.5rem] text-[7rem] leading-[0] opacity-50 sm:-top-24 sm:text-[15rem]"
        >
          &bdquo;
        </div>
      </div>
      <div class="flex flex-col">
        <Fragment set:html={renderRichText(testimonial.text)} />
        <div class="mt-4 text-right">&ndash; {testimonial.name}</div>
      </div>
      <div
        class="caption relative top-8 text-[7rem] leading-[0] opacity-50 sm:top-14 sm:-ml-2 sm:text-[15rem]"
      >
        &ldquo;
      </div>
    </div>
  </SectionContent>
</div>
